
@{
    Layout = null;
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="../../node_modules/core-js/client/shim.min.js"></script>
<script src="../../node_modules/zone.js/dist/zone.js"></script>
<script src="../../node_modules/reflect-metadata/Reflect.js"></script>
<script src="../../node_modules/systemjs/dist/system.src.js"></script>
<script src="../../systemjs.config.js"></script>
<script>
        //System.import('../../Scripts/App/main').catch(function (err) {
        //    console.error(err);
        //});
        System.import('../../Scripts/Account/main').catch(function (err) {
            console.error(err);
        });
</script>
<h2>IndexTEst</h2>
<script src="~/Scripts/angular.js"></script>

<accountLogin></accountLogin>